# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


# PyBuilder
target/
results/
temp_step1/
temp_step2/
temp_step3/

logs.txt
error.txt
out.simc
.vs/
.vscode/
.settings/
.project
.pydevproject
auto_download/


